.defects_table_container{
    margin-top: 3px;
    margin-left: 3px;
    min-width: 55%;
    max-width: 55%;
}
  
.defects_header_table{
    border-spacing: 1px;
    margin-bottom: 1px;
    width: 97.6%;
    border: solid 2px;
    border-radius: 3px;
    table-layout: fixed;
}
  
.defects_body_container{
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 0;
    max-height: 80vh;
    width: 100%;
}