

.downtime_header{
    margin-left: 2%;
    display: flex;
    margin-top: 0;
}

.production_title_header{
    margin-right: 0;
    margin-top: 0px;
    margin-bottom: 5px;
}

.downtime_controlls{
    margin-left: 2px;
    margin-top: 0;
}

.downtime_container{
    display: block;
    width: 65%;
    height: 100vh;
    min-height: 86vh;
    max-height: 86vh;
}

.svg_downtime{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.efficiency_tablehader{
    border: solid 2px;
    margin-left: 2%;
    width: 96%;
    border-spacing: 1px;
}

.efficiency_tableTotal{
    margin-top: 2px;
    border: solid 2px;
    margin-left: 2%;
    width: 96%;
    border-spacing: 1px;
}

.downtime_table_body{
    margin-top: 2px;
    margin-left: 2%;
    overflow-y: scroll;
    min-height: 50vh;
    max-height: 50vh;
}

.efficiency_body_table{
    border-collapse: separate ;
    border-spacing: 1px;
    width: 100%;
   border: solid 2px; 
   margin-bottom: 2px;
}

.efficiency_header_machine{
    background-color: rgba(5, 131, 53, 0.404);
    font-size: 90%;
    font-size: 70%;
    width: 20%;
    border: solid 1px;
    
}

.efficiency_header_week{
    background-color: rgba(5, 131, 53, 0.404);
    font-size: 75%;
    width: 10%;
    border: solid 1px;
}

.downtime_header_graphic{
    background-color: rgba(5, 131, 53, 0.404);
    width: 5%;
    border: solid 1px;
    font-size: 60%;
}

.efficiency_header_day{
    background-color: rgba(5, 131, 53, 0.404);
    width: 10%;
    border: solid 1px;
    font-size: 68%;
}

.efficiency_header_highest{
    background-color: rgba(5, 131, 53, 0.404);
    width: 7%;
    border: solid 1px;
    font-size: 70%;
}

.efficiency_header_item{
    background-color: rgba(5, 131, 53, 0.404);
    width: 22%;
    border: solid 1px;
    font-size: 90%;
}


.efficiency_body_machine{
    background-color: rgb(252, 252, 252);
    text-align: right;
    width: 20%;
    border: solid 1px;
    font-weight: bold;
    font-size: 85%;
}

.efficiency_total_machine{
    /* background-color: rgba(0, 2, 139, 0.808); */
    background-color: rgba(5, 131, 53, 0.404);
    text-align: right;
    width: 20%;
    border: solid 1px;
    font-weight: bold;
    font-size: 80%;
}

.efficiency_total_day{
    font-size: 85%;
    background-color: rgba(5, 131, 53, 0.404);
    width: 10%;
    text-align: center;
    border: solid 1px;
    font-size: 80%; 
    
}

.efficiency_total_week{
    font-size: 85%;
    background-color: rgba(5, 131, 53, 0.404);
    width: 10%;
    text-align: center;
    border: solid 1px;
    font-weight: bolder;
}

.efficiency_body_day{
    font-size: 85%;
    background-color: white;
    width: 10%;
    text-align: center;
    border: solid 1px; 
}

.efficiency_body_week{
    font-size: 85%;
    background-color: white;
    width: 10%;
    text-align: center;
    border: solid 1px;
    font-weight: bolder;
}

.downtime_body_highest{
    width: 7%;
    text-align: center;
    border: solid 1px; 
}

.downtime_body_item{
    padding-left: 2px;
    width: 22%;
    font-size: 85%;
    text-align: left;
    border: solid 1px; 
}
.downtime_body_graph{
    width: 5%;
    text-align: center;
    border: solid 1px; 
}

.downtime_body_graphic{
    width: 80%;
    
    text-align: center;
    border: solid 1px;
    
}

.downtime_graphs{
    display: flex;
}
.graphics_container{
    
    width: 35%;
}

.hola{
    border: solid 1px;
}

.shiftActive{
    background-color: tomato;
}

.production_today_field{
    background-color: blue;
}

.title_body_model{
    font-size: 85%;
    
    border: solid 1px;
    background-color: white;
    
}

.downarrow_button{
   padding: 0; 
   align-items: center;
}

.downarrow_button_selected{
    padding: 0; 
    align-items: center;
    background-color: tomato;
 }