.programs_table_container{
  margin-top: 3px;
  margin-left: 3px;
  min-width: 68%;
  max-width: 68%;
}

.programs_header_table{
  border-spacing: 1px;
  margin-bottom: 1px;
  width: 98%;
  border: solid 2px;
  border-radius: 3px;
  table-layout: fixed;
}

.programs_body_container{
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 0;
  max-height: 82vh;
  width: 100%;
}