.Reports{
  width: 100%;
  height: 95%;
  
}

.reports_container{
  
  width: 100%;
}

.container_first_table{
    width: 85%;
    
}
.report_list_table{
  border-spacing: 1px;
    margin-bottom: 1px;
    width: 98.3%;
    margin-left: 3px;
    border: solid 2px;
    border-radius: 3px;
    table-layout: fixed;
    
    
  }

  .header_table_report{
    border-spacing: 1px;
  }


  .body_reports{
  
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 3px;
    margin-bottom: 0;
    height: 450px;
    width: 100%;
  }

  .body_table_reports{
    border-spacing: 1px;
    width: 100%;
    table-layout: fixed;
    border: solid 2px;
    margin-top: 1px;
    margin-bottom: 0;
  
    
  }

  .date_data{
    width: 10%;
    font-size: 90%;
  }

  .body_date_table{
    width: 10%;
    font-size: 90%;
  }
  
  .shift_data{
    width: 5%;
    font-size: 90%;
  }

  .body_shift_table{
    width: 5%;
    font-size: 90%;
  }
  
  .machine_data{
    width: 6%;
    font-size: 90%;
  }

  .body_machine_table{
    width: 6%;
    font-size: 90%;
  }
  
  .treal_data{
    width: 5%;
    font-size: 90%;
  }

  .body_real_table{
    width: 5%;
    font-size: 90%;
  }
  
  .ng_data{
    width: 5%;
    font-size: 90%;
  }

  .body_ng_table{
    width: 5%;
    font-size: 90%; 
  }
  
  .ok_data{
    width: 5%;
    font-size: 90%;
  }

  .body_ok_table{
    width: 5%;
    font-size: 90%;  
  }
  
  .plan_data{
    width: 5%;
    font-size: 90%;
  }

  .body_plan_table{
    width: 5%;
    font-size: 90%; 
  }

  .worktime_data{
    width: 8%;
    font-size: 85%;
  }

  .body_worktime_table{
    width: 8%;
    font-size: 90%;
  }
  
  .downtime_data{
    width: 8%;
    font-size: 85%;
  }

  .body_downtime_table{
    width: 8%;
    font-size: 90%;
  }

  .availability_data{
    width: 9%;
    font-size: 85%;
  }

  .body_availability_table{
    width: 9%;
    font-size: 90%;
  }

  .performance_data{
    width: 9%;
    font-size: 85%;
    justify-items: center;
  }

  .body_performance_table{
    width: 9%;
    font-size: 90%;
  }

  .quality_data{
    width: 7%;
    font-size: 85%;
  }

  .body_quality_table{
    width: 7%;
    font-size: 90%;
  }

  .toee_data{
    width: 6%;
    font-size: 90%;
  }

  .body_toee_table{
    width: 6%;
    font-size: 90%;
  }

  .body_purge{
    width: 6%;
    font-size: 90%; 
  }

  .purge_data{
    width: 6%;
    font-size: 90%; 
  }
  
  .add_data{
    width: 6%;
    font-size: 90%;
  }

  .body_update_table{
    background-color: green;
    width: 6%;
    font-size: 90%;
    padding-left: 0;
    margin-left: 0;
    align-items: center;
    text-align: center;
     
  }

  .link-reports{
    
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
  }

  

.total_yellow{
  text-align: right;
  padding-right: 20px;
}
  
  
  
  
  .report_detail{
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .detail_table{
    border: solid;
    width: 100%;
    border-radius: 2px;
  }
  
  .detail_mold{
    width: 35%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_real{
    width: 12%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_ng{
    width: 12%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_ok{
    width: 12%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_hrs{
    width: 12%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_oee{
    width: 12%;
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_downtime{
    
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .detail_mins{
    
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
  }
  
  .row_detail_production{
    background-color: white;
    border: solid 1px;
    border-radius: 2px;
    font-size: 85%;
    padding-left: 2px;
  }
  
  .detail_close_button {
    background-color: white;
  }
  
  .button_report_list{
    width: 100%;
    
    font-size: 85%;
    justify-self: left;
  }
  
  .report_selected_list{
    border: solid 1px;
    background-color: tomato;
    border-radius: 2px;
    text-align: left;
    padding-left: 1%;
    font-size: 90%;
    height: 4vh;
  }

  .report_list_title{
    margin-bottom: 10px;
  }

  .report_list_header{
    background-color: rgba(42, 54, 216, 0.514);
    border: solid 1px;
    border-radius: 2px;
    
  }

  .report_list{
    border: solid 1px;
    background-color: white;
    border-radius: 2px;
    text-align: left;
    padding-left: 3px;
    font-size: 90%;
    height: 4vh;
    
  }

  .molde{
    width: 20%;
  }
  
  .model{
    width: 20%;
  }
  
  .pcs{
    font-size: 90%;
    width: 6%;
  }
  .ng{
    font-size: 90%;
    width: 6%;
  }
  .ok{
    font-size: 90%;
    width: 6%;
  }

  .plan{
    font-size: 90%;
    width: 6%;
  }

  .time_table{
    width: 6%;
    font-size: 90%;
  }

  .downtime_table{
    width: 6%;
    font-size: 90%;
  }

  .availability{
    width: 6%;
    font-size: 90%;
  }

  .performance{
    width: 6%;
    font-size: 90%;
  }

  .quality{
    width: 6%;
    font-size: 90%;
  }

  .oee{
    width: 6%;
    font-size: 90%;
  }

  .control-mins{
    font-size: 90%;
  }


  .report-title{
    margin-top: 0;
    
  }