.detail_total_machine{
    /* background-color: rgba(0, 2, 139, 0.808); */
    background-color: white;
    text-align: right;
    width: 20%;
    border: solid 1px;
    font-weight: bold;
    font-size: 80%;
    align-content: space-between;
}

.dital_row_production{
    display: flex;
    justify-content: space-between;
}

.detail_total_day{
    font-size: 85%;
    background-color: white;
    width: 10%;
    text-align: center;
    border: solid 1px;
    font-size: 80%; 
    
}

.detail_defect_machine{
    /* background-color: rgba(0, 2, 139, 0.808); */
    background-color: rgb(117, 14, 14);
    text-align: right;
    width: 20%;
    border: solid 1px;
    font-weight: bold;
    font-size: 80%;
    align-content: space-between;
}

.detail_defect_day{
    font-size: 85%;
    background-color: rgb(117, 14, 14);
    width: 10%;
    text-align: center;
    border: solid 1px;
    font-size: 80%; 
    
}