.calendar-container{
    background-color: greenyellow;
    
}

.calendar-table{
    background-color: greenyellow;
    border-collapse: separate;
    border-spacing: 1px; 
    width: 100%;
    height: 100%;
}

.calendar-table th,td{
    background-color: whitesmoke;
}

.day-table{
    height: 10px;
}

.green-calendar{
    background-color: green;
}

.red-calendar{
    background-color: red; 
}