body{
  margin: 0;
  padding: 0;
}

.App{
 background-color: gainsboro;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  display: inline-block;
}

.Content{
  background-color: rgba(0, 0, 139, 0.123);
  height: 92%;
  margin-top: 2px;
  margin-left: 1%;
  padding: 0;
  width: 98%;
  border-radius: 3px;
  border: solid 2px black;
}

.Button{
  width: 90%;
  box-shadow: 2px 2px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.section_header{
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 0%;
}

.table_list{
  width: 45%;
  border: solid 2px;
  margin-top: 2%;
  margin-left: 3%;
}

.program_list{
  margin: 0px;
  padding: 0px;
  display: inline-block;
  list-style: none;
}

.issuesboxes{
  width: 45%;
}

.issueName_report{
  width: 75%;
}

.svg_model{
  border-radius: 3px;
}

.Home{
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: turquoise;
}

.Hola{
  width: 50%;
  background-color: yellow;
}

.gra{
  width: 500px;
  padding: 0;
  margin: 0;
  background-color: turquoise;
}

.Graphic{
  padding-left: 0;
  width: 400px;
  margin: 0;
}

.invisible{
  display: none
}

.svg_model2{
  background-color: white;
}

.downtime-row-table{
  padding-left: 2px;
  text-align: left;
}