.cleanings-container{
    
    height: 100%;
    display: flex;
}

.molde-detail-table{
    border-collapse: separate;
    border-spacing: 1px; 
    width: 100%;  
}
  
.molde-detail-table td{
    background-color: white;
    border-radius: 2px;
}
  
.molde-detail-container{
    background-color: gold;
    width: 65%; 
    height: fit-content;
    overflow-y: scroll;
    max-height: 92vh;
}

.cycles-container{
    width: 35%;
    background-color: rgb(218, 112, 112);
    height: fit-content;
    overflow-y: scroll;
    max-height: 92vh;
    
}
  
.comments-input{
    width: 84%;
}
  
.molde-detail-input{
    font-size: 98%;
    width: 97%;
    margin-right: 0;
    padding-right: 0;
}



  
.molde-detail-index{
    width: 3%;
}

.molde-detail-molde{
    width: 28%;
}
  
  
.molde-detail-date{
    width: 17%;
}
  
  
.molde-detail-shift{
    justify-content: center;
    width: 8%;
}

.molde-detail-cycles{
    width: 10%;
}



.molde-detail-comments{
    width: 100%;
}

.molde-detail-button{
    text-align: center;
    width: 9%;
}
  
  
  .molde-detail-number{
    width: 80%;
  }
  
.closeButton-detail{
    background-color: gold;
}
  
.div_update{
    display: flex;
    justify-content: space-between;
}

.to_updated{
    color: orangered;
}



.red{
    display: flex;
    background-color: red;
    justify-content: space-between;
}

.green{
    display: flex;
    background-color: green;
    justify-content: space-between;
}